{% extends "pages/layouts/base.html" %}

{% block content %}
<h1>Workshop Registration page</h1>
<h6>Search for Workshops on a specific date</h6>
<input id="date" type="date" value="2019-01-01">
<h5>Search all Workshops</h5>
<table style="width:100%">
    <tr>
        <th>Topics</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Days</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>No. Sessions</th>
        <th>Places Avail.</th>
        <th>Details</th>
    </tr>
    <tr></tr>

</table>
{% endblock %}