<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>

      <link rel="stylesheet" href="css/admin-style.css">
  
</head>

<body>

  <h1>UTS HELPS Admin Interface</h1>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


<form>
  <h4> Login Information </h4>
  <input class="name" type="text" placeholder="Enter Username"/>
  <input class="pw" type="password" placeholder="Enter Password"/>
  <li><a href="#">Forgot your password?</a></li>
  <input class="button" type="submit" value="Log in"/>
</form>
  
  

</body>

</html>
