{% extends "pages/layouts/base.html" %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin-session-style.css' %}">
    <script src="{% static 'sessions/sessions.js' %}"></script>
{% endblock %}

{% block content %}
<body>

    {% block sub %}
    <div style="position:relative; float:right; margin-right:20px; width:10%">
            <a class='nav-link' href="{% url 'create_session' %}"><span>Book new session</span></a>
    </div>
    
    <h1>Sessions page</h1>
    <div id="View" style="height:20%">
        <form action="/search_sessions/" method="POST">
            {% csrf_token %}
            <h5>Search bookings by filters</h5>
            <div>
                <p>Student first name
                    <input name="first_name" type="text">
                </p>
                <p>Student last name
                    <input name="last_name" type="text">
                </p>
                <p>Student ID
                    <input name="student_id" type="text">
                </p>
                <p>Date
                    <input name="date" type="date">
                </p>
                <p>Start time
                    <input name="start_time" type="time">
                </p>
                <p>End time
                    <input name="end_time" type="time">
                </p>
            </div>
            <input type="submit" value="Search">
        </form>
    </div>

    {% endblock %}
    
    {% block booking_list %}
    <table class="session_table">
        <tr>
            <td>Session ID</td>
        </tr>
        {% if filtered_sessions %}
            {% for session in filtered_sessions %}
                <tr>
                    <td> {{ session }} </td>
                </tr>
            {% endfor %}
        {% else %}
           <tr><td>
                <p> No sessions found. </p>
           </td></tr>
        {% endif %}
    </table>
    {% endblock %}
</body>
{% endblock %} 
