* {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}


/********NAV BAR *******/
/* Add a black background color to the top navigation */
.header {
  background-color:#000000;
  overflow: hidden;
}

.header {
  width:fill;
  height:auto;
}

.header{
  padding:5px;
}

img {
  width:100%;
  height:250px;
  object-fit:contain;
  position: relative;
  opacity: 1;
  padding-bottom: 10px;
}

.topnav ul {
  display: inline-block; 
}

.topnav a{
  padding: 25px;
}

.topnav {
  position: relative;
  margin: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the links inside the navigation bar */
.header a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.header-right a:hover {
  background-color: #ddd;
  color: #f2f2f2;
}

/* Add a color to the active/current link */
.header a.active {
  background-color: #4CAF50;
  color: white;
}


body {
  background:#ecf0f1; /*From http://flatuicolors.com/ */
}
/********NAV BAR *******/


h2 {
  font-size: 1.5em;
  letter-spacing: 0.04em;
  margin: 0;
  font-weight: normal;
  color: #ff5252;
}

.announcement {
  padding: 10px 15px 0px;
  border: 1px solid #e1e1e1;  
  width:1000px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 20px;

  position: relative;
  margin: auto;
}

p{
  padding-bottom: 10pt;
  padding-top: 5pt;
}



/*logon form*/
form { 
  float: center;
  position: relative;

  width:360px;
  height:250px;
  margin:50px auto;
  text-align:center;
  background:lightgrey;
  padding:40px;
  -webkit-border-radius:20px 0 0 0;
     -moz-border-radius:20px 0 0 0;
          border-radius:20px 0 0 0;
  -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
     -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
          box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
  box-shadow: 20px 20px 20px;
  
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:2em;
  font-weight:300;
  margin-bottom:25px;
  color:#000000;
}

input {
  display:block;
  width:315px;
  padding:14px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
  border:0;
  margin-bottom:12px;
  color:#7f8c8d;
  font-weight:600;
  font-size:16px;
}

input:focus {
  background:#fafafa;
}


li {
  position:absolute;
  right:40px;
  bottom:62px;
  list-style:none;
}

a, a:visited {
  text-decoration:none;
  color:red;
  font-weight:400;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.button {
  position:relative;
  float:left;
  width:145px;
  margin-top:10px;
  background:#3498db;
  color:#fff;
  font-weight:400;
  box-shadow:0px 3px 0px #2d7baf;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

footer {
  background-color: black;
  color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: block;
}


