<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's Template</title>

      <link rel="stylesheet" href="css/student-home-style.css">
  
</head>
 


<body>
  <div class="header">
    <header >
      <img id="header-image" src= "images/team_image_cropped.jpg" alt="stock-image" >   
    </header>

  <ul class="topnav">
    <a href="#home">Home</a>
    <a href="#My Bookings">My Bookings</a>
    <a href="#Workshop Registration">Workshop Registration</a>
    <a href="#programs">Programs</a>
    <a href="#My Details">My Details</a>
    <a href="#FAQ">FAQ</a>
  </ul>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' 
  rel='stylesheet' type='text/css'>

</body>

<section>
  <p>hello world</p>
</section>

<footer class="container-fluid text-center">
  <p>© Copyright UTS - CRICOS Provider No: 00099F - 27 May 2019 09:20 AM. The page is authorised by Deputy Vice-Chancellor and Vice-President (Corporate Services).</p>
</footer>

</html>
