<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>

      <link rel="stylesheet" href="css/student-login-style.css">
  
</head>

<body>
  <div class="header">
  <header >

    <img id="header-image" src= "images/team_image_cropped.jpg" alt="stock-image" >   
  </header>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


<form>
  <h4> Welcome to UTS Remote Access </h4>
  <input class="name" type="text" placeholder="Enter Username"/>
  <input class="pw" type="password" placeholder="Enter Password"/>
  <li><a href="https://www.uts.edu.au/current-students/managing-your-course/using-uts-systems/forgot-your-password">Forgot your password?</a></li>
  <input class="button" type="submit" value="Log in"/>
</form>
  
  

</body>

</html>
