<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's FAQ</title>

  <link rel="stylesheet" href="css/student-details-style.css">

</head>



<body>
  <div class="header">
    <header>
      <img id="header-image" src="images/team_image_cropped.jpg" alt="stock-image">
    </header>

    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#My Bookings">My Bookings</a>
      <a href="#Workshop Registration">Workshop Registration</a>
      <a href="#programs">Programs</a>
      <a href="#My Details">My Details</a>
      <a href="#FAQ">FAQ</a>
    </div>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


  <div class="details">
    <h2>My Details</h2>

    <h3>Student ID</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Student Name</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Faculty</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Student Email</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Phone number</h3>
    <p> *xxxxxxxxx*</p>
      <br>
  </div>


</body>

</html>