<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's FAQ</title>

      <link rel="stylesheet" href="css/student-faq-style.css">
  
</head>
 


<body>
  <div class="header">
    <header >
      <img id="header-image" src= "images/team_image_cropped.jpg" alt="stock-image" >   
    </header>

  <div class="topnav">
    <a href="#home">Home</a>
    <a href="#My Bookings">Bookings</a>
    <a href="#Workshop Registration">Registration</a>
    <a href="#My Details">Details</a>
    <a href="#FAQ">FAQ</a>
  </div>
  </div>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  
  <div class="announcement">
      <h2>Frequently Asked Questions</h2>
      <p>1. fuck u nic</p>
      <p></p>
    </div>


</body>

</html>
