.object_list_table {
    width:94%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    table-layout: relative;
}

.object_list_table tr, .object_list_table td {
    padding-top: 7px;
    padding-bottom: 7px;
}
/*
.object_list_table th {
    padding: 10px;
    text-align: center;
    font-size: 13px;
} */

.filter_box {
    font-size: 12px;
    height: 30%;
    display: inline-block;
}
