.session_table {
    width: 420px;
    margin-left: 20px;
    font-size: 14px;
    table-layout: fixed;
}

.session_table tr, .session_table td {
    border: 1px solid #264ab5 !important;
}

.session_table th {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.session_table td {
    text-align: center;
    position: relative;
    width: 14.2857%;
    height: 20px;
    padding: 10px 0px 10px 0px;
}