.calendar {
    width: 30%;
    margin-left: 20px;
    font-size: 12px;
    table-layout: fixed;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 13px;
  }
  
  .calendar td {
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 10px 0px 10px 0px;
  }

  .calendar td:hover { background-color: #a2b9ff }
  .calendar td:active { background-color: #264ab5 }
  
  .month {
    font-size: 15px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 30px 0px 0px;
  }
  
  a {
    color: #17a2b8;
  }