<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's Login</title>

      <link rel="stylesheet" href="css\login-style.css">
  
</head>
 


<body>
  <div class="header">
    <header >
      <img id="header-image" src= "images/team_image_cropped.jpg" alt="stock-image" >   
    </header>

  <ul class="topnav">
    <a href="#home">Home</a>
    <a href="#My Bookings">My Bookings</a>
    <a href="#Workshop Registration">Workshop Registration</a>
    <a href="#programs">Programs</a>
    <a href="#My Details">My Details</a>
    <a href="#FAQ">FAQ</a>
  </ul>
  </div>
  

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  
  <div class="announcement">
      <h2>Announcements</h2>
      <p>Welcome to UTS HELPS Booking System</p>
      <p>Brothers and Sisters, the time has come for each and every one of you to decide whether you are going to be the problem or whether you are going to be the solution! (That's right!)
      You must choose Brothers, you must choose!</p>
    </div>

  <div>  
    <form>
      <h4> Student Login </h4>
      <input class="name" type="text" placeholder="Student ID"/>
      <input class="pw" type="password" placeholder="Password"/>
      <li><a href="https://www.uts.edu.au/current-students/managing-your-course/using-uts-systems/forgot-your-password">Forgot your password?</a></li>
      <input class="button" type="submit" value="Log in"/>
    </form>
  </div>

</body>

</html>
