<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's FAQ</title>

    <link rel="stylesheet" type=text/css href="{% static 'css\faq-style.css' %}">

</head>



<body>
  <div class="header">
    <header>
      <img id="header-image" src="{% static 'images/team_image_cropped.jpg' %}" alt="stock-image">
    </header>

    <ul class="topnav">
      <a href="#home">Home</a>
      <a href="#My Bookings">My Bookings</a>
      <a href="#Workshop Registration">Workshop Registration</a>
      <a href="#programs">Programs</a>
      <a href="#My Details">My Details</a>
      <a href="#FAQ">FAQ</a>
    </ul>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


  <div class="announcement">
    <h2>Frequently Asked Questions</h2>

    <h3>1. What is HELPS?</h3>
    <p>Higher Education Language and Presentation Support (HELPS) provides non-credited 
      English language and academic literacy support to UTS undergraduate and postgraduate
      coursework students. <br><br> At HELPS, we can enhance your learning experience by providing 
      individual and group support in a friendly and respectful environment. We can also 
      help you become an independent and confident learner through the development of your 
      English language and academic understanding, so you can reach your study and career goals.</p>
      <br>
    <h3>2. Who can use HELPS?</h3>
    <p>Any student enrolled in any facility at UTS.</p>
      <br>
    <h3>3. Where are the HELPS offices located?</h3>
    <p> HELPS is located on Building 1, Level 5, Room 25 (01.05.025)</p>
      <br>
    <h3>4. Does it cost anything to use HELPS?</h3>
    <p>Nope! Services are free of tuition fees for non-credit workshops and individual consultations. </p>
      <br>
    <h3>5. Can HELPS help me with my assignment?</h3>
    <p> Sure can! HELPS offers various workshops and individual consultations. 
    Check out our <a href=http://www.ssu.uts.edu.au/helps/index.html>website</a> for more information!</p>
      <br>
    <h3>6. I'm not very fluent in English. Can you proof-read and correct my assignment?</h3>
    <p> Unfortunately not. Our role is not to correct grammar or other errors in an assignment. 
      We can help you develop your own editing strategies. You should also use a computer spell-check, find a competent friend and a good dictionary.</p>
      <br>
    <h3>7. But can you help me improve my grammar and pronunciation?</h3>
    <p> Absolutely! Check out our website for information on 
      <a href=https://www.uts.edu.au/current-students/support/helps/daily-workshops>Workshops,</a> 
      <a href=https://www.uts.edu.au/current-students/support/helps/self-help-resources>Learning Resources</a> and 
      <a href=https://www.uts.edu.au/current-students/support/helps/english-speaking-practice>English Speaking Programs</a>. </p>
      <br>
    <h3>8. Can you help me with the content of my assignment?</h3>
    <p>No. We can’t tell you what to say, we can only help you say it better and more clearly. 
    While we’re happy to act as a sounding board for your ideas, content questions require the 
    specialised disciplinary knowledge of lecturers and tutors in your faculty. 
    You should take specific content questions directly to them.</p>
    <br>
    <h3>9. I feel like I need more time in exams because of my language difficulty. Can you help?</h3>
    <p>If you are in your first year (first or second semester) of your degree, you may be eligible to apply for Special Conditions in Exams. For more information, <a href=https://www.uts.edu.au/current-students/support/helps/special-conditions-exams-students-non-english-speaking-backgrounds>click here!</a></p>

  </div>


</body>

</html>