<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's Login</title>

  <link rel="stylesheet" type=text/css href="{% static 'css\login-style.css' %}">

</head>

<body>
  <div class="header">
    <header>
      <img id="header-image" src="{% static 'images/team_image_cropped.jpg' %}" alt="stock-image">
    </header>
  </div>


  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


  <div class="announcement">
    <h2>Announcements</h2>
    <p>Welcome to UTS HELPS Booking System</p>
    <p>Brothers and Sisters, the time has come for each and every one of you to decide whether you are going to be the
      problem or whether you are going to be the solution! (That's right!)
      You must choose Brothers, you must choose!</p>
  </div>

  <div>
    <form method = "post">
        {% csrf_token %}
      <h4> Student Login </h4>
      <input class="name" name ="name" type="text" placeholder="Student ID"/>
      <input class="pw" name = "pw" type="password" placeholder="Password"/>
      <li><a
          href="https://www.uts.edu.au/current-students/managing-your-course/using-uts-systems/forgot-your-password">Forgot
          your password?</a></li>
      <input class="button" type="submit" value="Log in" onclick = />
    </form>
  </div>

</body>

<footer class="container-fluid text-center">
    <p>© Copyright UTS - CRICOS Provider No: 00099F - 27 May 2019 09:20 AM. The page is authorised by Deputy Vice-Chancellor and Vice-President (Corporate Services).</p>
  </footer>

</html>