<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's FAQ</title>

  <link rel="stylesheet" type=text/css href="{% static 'css\details-style.css' %}">

</head>



<body>
  <div class="header">
    <header>
      <img id="header-image" src="{% static 'images/team_image_cropped.jpg' %}" alt="stock-image">
    </header>

    <ul class="topnav">
      <a href="{% url 'login' %}">Home</a>
      <a href="{% url 'bookings' %}">My Bookings</a>
      <a href="{% url 'workshops' %}">Workshop Registration</a>
      <a href="{% url 'programs' %}">Programs</a>
      <a href="{% url 'profile' %}">My Details</a>
      <a href="{% url 'faq' %}">FAQ</a>
    </ul>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


  <div class="details">
    <h2>My Details</h2>

    <h3>Student ID</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Student Name</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Faculty</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Student Email</h3>
    <p>*xxxxxxxxx*</p>
      <br>
    <h3>Phone number</h3>
    <p> *xxxxxxxxx*</p>
      <br>
  </div>


</body>

<footer class="container-fluid text-center">
    <p>© Copyright UTS - CRICOS Provider No: 00099F - 27 May 2019 09:20 AM. The page is authorised by Deputy Vice-Chancellor and Vice-President (Corporate Services).</p>
  </footer>
  
</html>