<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
  <meta charset="UTF-8">
  <title>UTS:HELP's Programs</title>

  <link rel="stylesheet" type=text/css href="{% static 'css\programs-style.css' %}">
</head>



<body>
  <div class="header">
    <header>
      <img id="header-image" src="{% static 'images/team_image_cropped.jpg' %}" alt="stock-image">
    </header>

    <ul class="topnav">
      <a href="#home">Home</a>
      <a href="#My Bookings">My Bookings</a>
      <a href="#Workshop Registration">Workshop Registration</a>
      <a href="#programs">Programs</a>
      <a href="#My Details">My Details</a>
      <a href="#FAQ">FAQ</a>
    </ul>
  </div>

  <div class="content">
    <h2>HELPS PROGRAMS</h2> <br>
    <h3>Drop-in consultations</h3>
    <p>At the initial stage of your assignment writing or preparation process, you are
      strongly encouraged to come and see HELPS. The best time to see us is when you
      first receive your assignment.<br>
      <b>HELPS Advisors can help edit your assignment WITH you, not FOR you</b>
      - helping you edit your assignments for:
      <ul>
        <li>Structure and argument – that your writing is logically organised with
          well-developed and well-supported arguments.</li>
        <li>Style and expression – that your choice of vocabulary is appropriate,
          sentences are well constructed, ideas are clearly introduced, and paragraphs are fully developed.</li>
        <li>Grammar – that your issues are identified and explained so you can learn from your mistakes and
          avoid making them in the future.</li>
      </ul>
    </p>
    <p>Proofreading is the final step in the editing process, with the aim of producing an error-free assignment.
      It is your responsibility to check for mistakes in spelling, punctuation, typing and formatting in your
      assignment before you submit it to your lecturer. <br>We offer 15-minute drop-in advice sessions and
      40-minute one-to-one consultations by referral to help you with your assignment writing and preparation.</p>


    <h4>Drop-in consultations are held during:</h4>
    <ul>
      <li>2019 Autumn session (from week 2 to week 12) <i>NOTE: NOT OFFERED ON PUBLIC HOLIDAYS</i>
        <ul>
          <li>HELPS office (CB01.05.25)<br>Monday to Thursday: 12noon - 6pm / Friday: 12noon - 5pm </li>
          <li>UTS Blake Library (Study Help Desk)<br>Monday to Thursday: 2pm - 7pm / Saturday: 1pm - 4pm </li>
          <li>Pop-up drop-ins: Bld 10 foyer (Pod1)<br>Monday to Thursday: 10am - 1pm </li>
          <li>Pop-up drop-ins: Bld 11 Level 5 (FEIT Learning Precinct CB11.05.300)<br>Tuesday and Thursday: 1pm - 4pm
          </li>
        </ul>
      </li>
    </ul>
    <p>At the drop-in advice session we can, if you need it, book you in for a longer
      <a href="https://www.uts.edu.au/current-students/support/helps/assignment-writing-assistance/one-one-consultation-referral"> one-to-one consultation</a>
      closer to the due date for when you have your draft ready.</p>
    <br>


    <h3>Individual Assistance by Referral</h3>
    <p>After you have attended a <a href="https://www.uts.edu.au/current-students/support/helps/assignment-writing-assistance">drop-in advice session</a>; 
      if a longer consultation is required you may be able to book in for a 40-minute one-to-one consultation.<br>
      Having a one-to-one consultation is an opportunity for an in-depth discussion in relation to your specific
      needs on an assessment.<br>
      A 40-minute one-to-one consultation may involve:
      <ul>
        <li>discussing your draft to ensure that you have addressed the assessment criteria</li>
        <li>addressing a number of grammar or referencing issues that require assistance</li>
        <li>preparing for an oral presentation.</li>
      </ul>
    </p>


    <h3>Daily Workshops</h3>
    <ul>
      <li href="https://www.uts.edu.au/current-students/support/helps/daily-workshops/assignment-writing-series">Improve your Writing series</li>
      <li href="https://www.uts.edu.au/current-students/support/helps/daily-workshops/improve-your-speaking">Improve your Speaking series</li>
      <li href="https://www.uts.edu.au/current-students/support/helps/daily-workshops/improve-your-grammar">Improve your Grammar Series</li>
      <li href="https://www.uts.edu.au/current-students/support/helps/daily-workshops/2018-19-summer-special-workshops">Summer Special Workshops</li>
      <li href="https://www.uts.edu.au/current-students/support/helps/daily-workshops/orientation-workshops">Orientation Workshops</li>
    </ul>
    <p>You will need to register for these workshops as places are limited. To register, click on the 
      workshop registration tab</a>
      and follow the instructions. If you wish your cancel your registration, please do so 
      online or contact us via email. Failing to turn up for your registered workshops are not fair to those 
      on the waiting lists. <ul>Repeat offenders may be barred from attending workshops for the rest of the semester.</ul>
    </p>
    <br>


    <h3>Writing Support sessions</h3>
    <h4>WriteNow! Writing support sessions @ the Library</h4>
    <ul>
      <li>The sessions run <b>1:00 pm to 5:00 pm every Friday from Week 2 to Week 12.</b></li>
      <li>They are held in a training room at the UTS Library where we also provide desktop computers.</li>
      <li>You will need to <a href="#Workshop Registration">register</a> for these sessions as places are limited.</li>
    </ul>

    <h4>WriteNow! Writing support sessions @ HELPS</h4>
    <ul>
      <li>The sessions run <b>1:00 pm to 4:00 pm Monday to Thursday from Week 2 to Week 12.</b></li>
      <li>They are held in the HELPS office (CB01.05.25) </li>
      <li>Please remember to bring your laptop as there are no desktop computers in this room.</li>
      <li>Online registration is not required.</li>
    </ul>
    <br>


    <h3>Intensive academic English program</h3>
    <h4>Academic Writing Program</h4>
    <p>You may choose from a Day or Evening Class</p>
    <ul>
      <li>9 July to 13 July 2018 (daily)</li>
      <li>Day class (13:00 - 16:00) or Evening class (18:00 - 20:00)</li>
    </ul>

    <h4>Academic Speaking Program</h4>
    <p>You may choose from either a Pronunciation Correction or Seminar Presentation class</p>
    <h5>Pronunciation Correction</h5>
    <ul>
      <li>16 July to 20 July 2018 (daily)</li>
      <li>13:00 - 16:00 </li>
    </ul>
    <h5>Seminar Presentation</h5>
    <ul>
      <li>16 July to 20 July 2018 (daily)</li>
      <li>Day class (14:00 - 16:00) or Evening class (18:00 - 20:00)</li>
    </ul>

    <h4>Communication for Employment Program</h4>
    <ul>
      <li>9 July to 13 July 2018 10:00 - 12:00 (daily)</li>
      <li>16 July to 20 July 2018 10:00 - 12:00 (daily)</li>
    </ul>
    <p>Applications will be available in May and June 2018 at <a href="www.helps.uts.edu.au">www.helps.uts.edu.au</a></p>

    <h4>Self-Help resources for essential academic skills</h4>
    <p> <a href= "http://www.uts.edu.au/current-students/support/helps/self-help-resources">Click here</a> to access resources</p>

  </div>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>




</body>

</html>